gen/
.idea
.idea/*   
build/*
bin
target/*
reports/*
bin/*
script/*
.settings/*
*.log*
*.snapshot
*.iml
*.ipr
*.iws
*.sh
.project
.classpath
.mymetadata
.pom.xml.swp
pom.xml.next
pom.xml.releaseBackup
pom.xml.tag
release.properties
